<div class="col-sm-12 col-md-12 text-center" ng-controller="AboutController as aboutCtrl">
    <a ui-sref="topscores" class="col-xs-12 col-sm-2 col-md-2 pixel-text text-left get-back">{{aboutCtrl.back}}</a>
    <div class="col-mxs-12 col-sm-8 col-md-8">
      <h1>-&nbsp;&nbsp;&nbsp;LAS REGLAS DEL CAMINO&nbsp;&nbsp;&nbsp;-</h1>
    </div>
    <div class="col-md-offset-2 col-md-8 text-center text-uppercase rules">
        <h2 clas="rules-header">Modalidad de juego</h2>
        <span>
          Tenes la posibilidad de responder cinco preguntas. Cada una de las preguntas, se las podes pedir a cualquier Checkpointer, y pueden ser en cualquier dificultad.  Podes repetir Checkpointer, dificultad, lo que quieras.
        </span>

        <h2 class="questions">Puntajes por pregunta</h2>
        <table class="table table-bordered">
          <tr>
            <td class="question-level">Dificultad</td>
            <td class="correct">Correcta</td>
            <td class="with-help">Con ayuda</td>
            <td class="wrong">Equivocada</td>
          </tr>
          <tr>
            <td class="question-level">Facil</td>
            <td class="correct">100 puntos</td>
            <td class="with-help">70 puntos</td>
            <td class="wrong">0 puntos</td>
          </tr>
          <tr>
            <td class="question-level">Medio</td>
            <td class="correct">200 puntos</td>
            <td class="with-help">80 puntos</td>
            <td class="wrong">0 puntos</td>
          </tr>
          <tr>
            <td class="question-level">Dificil</td>
            <td class="correct">300 puntos</td>
            <td class="with-help">90 puntos</td>
            <td class="wrong">0 puntos</td>
          </tr>
        </table>
        <span>
          La ayuda depende del Checkpointer que hace la pregunta.<br>El puede elegir si dar o no la ayuda.
        </span>

        <h2 class="signin">Como participar</a></h2>
        Agrega a <span class="mail">podcheckpoint<span class="pixel-text">@</span>gmail.com</span> en skype.
        <br>
        Cuando empieze la seccion del camino, contactate para jugar! 
        <br>
        Los participantes saldran en el orden en el que se comuniquen.
    </div>
  </div>